<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Customer Churn</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <base href="/"/>
</head>
<body>
    @RenderBody()
    <script src="~/js/jquery.min.js" asp-append-version="true"></script>
    <script src="~/js/bootstrap.min.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>